<main>
    <div class="container mt-5 pt-5 pb-5 mb-5">


        <!-- START  PRODUCT LIST -->
        <section class="product-list ">
            <div class="row">
                <h4>We provide following products:</h4>
                <ol>
                    <li><a href="aluminium-and-glass-partition.html"> Aluminium And Glass Partition </a></li>
                    <li><a href="aluminium-doors.html"> Aluminium Doors </a></li>
                    <li><a href="aluminium-window.html"> Aluminium Window </a></li>
                    <li><a href="automatic-glass-doors.html"> Automatic Glass Doors </a></li>
                    <li><a href="false-ceiling.html"> False Ceiling </a></li>
                    <li><a href="frameless-glass-doors.html"> Frameless Glass Door </a></li>
                    <li><a href="frameless-glass-partition.html"> Frameless Glass Partition </a></li>
                    <li><a href="laminated-glass-flooring.html"> Laminated Glass Flooring </a></li>
                    <li><a href="shower-cubicles.html"> Shower Cubicles </a></li>
                    <li><a href="sliding-door.html">Sliding Door </a></li>
                    <li><a href="sound-proof-window.html">Sound Proof Window</a></li>
                    <li><a href="structural-glazing.html"> Structural Glazing </a></li>
                    <li><a href="toughened-glass.html"> Toughened Glass </a></li>
                </ol>
            </div>
        </section>
        <!-- END PRODUCT LIST  -->


        <!-- Start product cards -->
        <section class="product-cards">

            <div class="row my-5">
                <!-- aluminium-and-glass-partition -->
                <div class="col-sm-12 col-12 col-md-6 my-4 d-flex justify-content-center">
                    <div class="card col-sm-12 col-12 col-md-6 single-card" style="width: 18rem;">
                        <img src="images/aluminium and glass partition/5bdcfaade7999.jpg" class="card-img-top"
                            alt="aluminium-and-glass-partition">
                        <div class="card-body">
                            <h5 class="card-title card-product-heading"><a href="#" target="" rel="noopener noreferrer">
                                    Aluminium And Glass Partition </a></h5>

                            <p class="card-text"> Aluminium partitions are being manufactured by us in a fine way.
                                Such
                                products are used in offices to divide the cabins of employees. We manufacture these
                                partitions as per clients' requirements, and often use good quality of aluminium,
                                glass
                                and other products in making aluminium partitions. </p>
                            <a href="aluminium-and-glass-partition.html" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>


                <!-- aluminium-doors -->
                <div class="col-sm-12 col-12 col-md-6 my-4 d-flex justify-content-center">
                    <div class="card col-sm-12 col-12 col-md-6 single-card" style="width: 18rem;">
                        <img src="images/aluminium doors/ais-06.jpg" class="card-img-top" alt="aluminium-doors">
                        <div class="card-body">
                            <h5 class="card-title card-product-heading"><a href="#" target="" rel="noopener noreferrer">
                                    Aluminium Doors </a></h5>

                            <p class="card-text">We offer aluminium doors that are very durable and reliable. Our
                                aluminium doors show better efficiency and demand less maintenance. Moreover, these
                                aluminium doors are rust proof, water proof and hassle free with automatic door
                                closing
                                mechanism options. We also offer durable door for your bathroom and can be availed
                                in
                                reasonable prices.</p>
                            <a href="aluminium-doors.html" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row my-5">

                <!-- aluminium-window -->
                <div class="col-sm-12 col-12 col-md-6 my-4 d-flex justify-content-center">
                    <div class="card col-sm-12 col-12 col-md-6 single-card" style="width: 18rem;">
                        <img src="images/aluminium window/maxresdefault.jpg" class="card-img-top"
                            alt="aluminium-window">
                        <div class="card-body">
                            <h5 class="card-title card-product-heading"><a href="aluminium-window.html" target=""
                                    rel="noopener noreferrer"> Aluminium Window </a></h5>
                            <p class="card-text">We make aluminium window by using high quality aluminium. Aluminium
                                windows offered by us are available in various shapes, sizes, designs and colours.
                                They
                                are durable and require less maintenance and care. These windows are rust proof,
                                Water
                                proof, hassle free and designed as per the specification given to suit your offices,
                                homes, stores, etc.</p>
                            <div class="text-center"></div>
                            <a href="aluminium-window.html" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>

                <!-- aluminium glass door  -->
                <div class="col-sm-12 col-12 col-md-6 my-4 d-flex justify-content-center">
                    <div class="card col-sm-12 col-md-6 col-12 single-card" style="width: 18rem;">
                        <img src="images/automatic glass door/Entrance-slider-Slider.jpg" class="card-img-top"
                            alt="automatic-glass-doors">
                        <div class="card-body">
                            <h5 class="card-title card-product-heading"><a href="#" target="" rel="noopener noreferrer">
                                    Automatic Glass Doors </a></h5>

                            <p class="card-text">Our offering of automatic glass doors unites high opening speed and
                                easy access and offers utmost safety and comfort for the end user. Such doors can be
                                operated from 10 meters away with the help of a wireless remote control. Automatic
                                glass
                                doors might be best bet for high traffic site such as airports, railway stations,
                                public
                                building, shopping malls, hotels and retail shops.</p>
                            <a href="automatic-glass-doors.html" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>



            </div>

            <div class="row my-5">


                <!-- false-ceiling  -->
                <div class="col-sm-12 col-12 col-md-6 my-4 d-flex justify-content-center">
                    <div class="card col-sm-12 col-md-6 col-12 single-card" style="width: 18rem;">
                        <img src="images/false celing/6.jpg" class="card-img-top" alt="false-ceiling">
                        <div class="card-body">
                            <h5 class="card-title card-product-heading"><a href="#" target="" rel="noopener noreferrer">
                                    False Ceiling </a></h5>

                            <p class="card-text">We offer a wide range of attractive false ceilings that enhances
                                the
                                value of your homes, offices, showrooms and corporate offices etc as per client
                                specification. Our ceilings act as acoustic absorbers and allow planes of artificial
                                light, and are easy to maintain. Our ceilings can make the space look bigger,
                                brighter,
                                and friendlier and express a bold statement.</p>
                            <a href="false-ceiling.html" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>

                <!-- frameless glass door  -->
                <div class="col-sm-12 col-12 col-md-6 my-4 d-flex justify-content-center">
                    <div class="card col-sm-12 col-md-6 col-12 single-card " style="width: 18rem;">
                        <img src="images/frameless glass partition/12.jpg" class="card-img-top"
                            alt="frameless-glass-doors">
                        <div class="card-body">
                            <h5 class="card-title card-product-heading"><a href="#" target="" rel="noopener noreferrer">
                                    Frameless Glass Door </a></h5>

                            <p class="card-text">
                                We offer frameless doors made of thick and high quality toughened glass which are
                                available in different sizes and shapes. We can fabricate these doors as per client
                                requirement. They are highly durable and very popular in commercial buildings, super
                                stores, hospitals, residential places, offices etc.
                            </p>
                            <a href="frameless-glass-doors.html" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row my-5">


                <!-- frameless-glass-partition  -->
                <div class="col-sm-12 col-12 col-md-6 my-4 d-flex justify-content-center">
                    <div class="card col-sm-12 col-md-6 col-12 single-card" style="width: 18rem;">
                        <img src="images/frameless glass partition/frameless-glass-partitions-500x500 (1).jpg"
                            class="card-img-top" alt="frameless-glass-partition">
                        <div class="card-body">
                            <h5 class="card-title card-product-heading"><a href="#" target="" rel="noopener noreferrer">
                                    Frameless Glass Partition </a></h5>
                            <p class="card-text">Frameless glass partitions are a superb way to produce privacy or
                                divide rooms and reduce the outer noise without closing an area. We fabricate the
                                frameless glass partitions by using clear glass, which is very popular with
                                residential
                                and commercial clients. Along with it, we also offer glass partitions for every
                                application imaginable.</p>
                            <a href="frameless-glass-partition.html" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>

                <!-- laminated-glass-flooring  -->
                <div class="col-sm-12 col-12 col-md-6 my-4 d-flex justify-content-center">
                    <div class="card col-sm-12 col-md-6 col-12 single-card " style="width: 18rem;">
                        <img src="images/laminated glass flooring/Cover_2.webp.jpg" class="card-img-top"
                            alt="laminated-glass-flooring">
                        <div class="card-body">
                            <h5 class="card-title card-product-heading"><a href="#" target="" rel="noopener noreferrer">
                                    Laminated Glass Flooring </a></h5>

                            <p class="card-text">We are known to offer laminated glass flooring which are made of
                                thick
                                and tempered laminate glass layer. Such products are chiefly used in hospitals,
                                shopping
                                malls and banks etc. Apart from such large uses, they can also be employed in
                                staircases
                                in commercial buildings.</p>
                            <a href="laminated-glass-flooring.html" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row my-5">

                <!-- shower cubicles -->
                <div class="col-sm-12 col-12 col-md-6 my-4 d-flex justify-content-center">
                    <div class="card col-sm-12 col-12 col-md-6 single-card" style="width: 18rem;">
                        <img src="images/glass shower/glass-shower-cubicle-500x500.jpg" class="card-img-top"
                            alt="shower-cubicles">
                        <div class="card-body">
                            <h5 class="card-title card-product-heading"><a href="#" target="" rel="noopener noreferrer">
                                    Shower Cubicles </a></h5>

                            <p class="card-text">
                                Our range of Shower Cubicles comes in every combination that can be imaginable, from
                                self-contained cabinets to screen panels for bays, building into a corner or against
                                a
                                flat
                                wall. A wide range of sliding and bi-fold doors are available can be easily fitted
                                to
                                all
                                the various shaped shower accessories. Durable materials are used to manufacture
                                these
                                shower cubicles like glass, aluminium, copper, stainless steel, brass etc. Shower
                                cubicles
                                represent a complete shower package that offer exceptional value for money.</p>
                            <a href="shower-cubicles.html" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>


                <!-- sliding door  -->
                <div class="col-sm-12 col-12 col-md-6 my-4 d-flex justify-content-center">
                    <div class="card col-sm-12 col-12 col-md-6 single-card" style="width: 18rem;">
                        <img src="images/sliding door/sliding-aluminium-glass-doors-for-the-house.jpg"
                            class="card-img-top" alt="sliding-door">
                        <div class="card-body">
                            <h5 class="card-title card-product-heading"><a href="#" target="" rel="noopener noreferrer">
                                    Sliding Door </a></h5>

                            <p class="card-text">When you have less space in your office and need a door which is
                                easy
                                to access and will not take much space for operation. The sliding door is the best
                                suited product for your office.
                                The door run of a sliding track and give full space of the door opening.</p>
                            <a href="sliding-door.html" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>



            </div>


            <div class="row my-5">


                <!-- sound-proof-window -->

                <div class="col-sm-12 col-12 col-md-6 my-4 d-flex justify-content-center">
                    <div class="card col-sm-12 col-12 col-md-6 single-card" style="width: 18rem;">
                        <img src="images/soundd proof window/salespoint-1 (1).jpg" class="card-img-top"
                            alt="sound-proof-window">
                        <div class="card-body">
                            <h5 class="card-title card-product-heading"><a href="#" target="" rel="noopener noreferrer">
                                    Sound Proof Window </a></h5>

                            <p class="card-text">We manufacture soundproof windows to be used in various
                                organizations.
                                We design such sound proof window after getting clients specifications. They are
                                easy to
                                install and better for noise control, better insulation, no mess or construction
                                required. These windows are of high quality. We use toughened glass for these
                                windows
                                for better quality and customer satisfactions.</p>
                            <a href="sound-proof-window.html" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>

                <!-- structural Glazing -->
                <div class="col-sm-12 col-12 col-md-6 my-4 d-flex justify-content-center">
                    <div class="card col-sm-12 col-md-6 col-12 single-card" style="width: 18rem;">
                        <img src="images/structural glazing/HTB1b_qYbC_I8KJjy0Foq6yFnVXan.jpg" class="card-img-top"
                            alt="structural-glazing">
                        <div class="card-body">
                            <h5 class="card-title card-product-heading"><a href="#" target="" rel="noopener noreferrer">
                                    Structural Glazing </a></h5>

                            <p class="card-text">
                                We design and manufacture a wide range of structural glazing that are used in
                                corporate
                                and
                                commercial building construction industry. They are durable and easy to maintain and
                                provide
                                safety from air and water infiltration. They are used in high rise buildings to
                                ensure
                                stability and can be customized as per the specifications of our clients. They are
                                widely
                                used for window frames for buildings, shops, stadiums, complexes etc.
                            </p>
                            <a href="structural-glazing.html" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>



            </div>

            <div class="row my-5 ">




                <!-- toughened glass  -->
                <div class="col-sm-12 col-12 col-md-6 my-4 d-flex justify-content-center">
                    <div class="card col-sm-12 col-12 col-md-6 single-card" style="width: 18rem;">
                        <img src="images/toughned glass/Tempered-Glass-Stair-600x315.jpg" class="card-img-top"
                            alt="toughened-glass">
                        <div class="card-body">
                            <h5 class="card-title card-product-heading"><a href="#" target="" rel="noopener noreferrer">
                                    Toughened Glass </a></h5>

                            <p class="card-text">We offer toughened glass that is safe and strength heat resistance.
                                Such glass comprises increased strength compared with normal glass and will shatter
                                into
                                small fragments, rather than sharp shards, when broken. It shows enhanced thermal
                                resistance, and breaks into small cuboid and so causes less injury.</p>
                            <a href="toughened-glass.html" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        <!-- End product cards -->

    </div>



</main>