<section class="services bg-first " id="services">
    <div class="container py-2">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>OUR SERVICES</h2>
                    <p>We provide the perfect service for you.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <div class="service-area mb-100">

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="100ms"
                        style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <i class="fas fa-door-open icon-size"></i>
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Aluminium works</h5>
                            <p>Design is not just what it looks like and feels like. Design is how it works</p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center "
                        style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <i class="fas fa-wine-glass-alt icon-size" style="font-size: 80px;"></i>
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Glass Works</h5>
                            <p>Perfection is achieved not when there is nothing more to add, but when there is
                                nothing more to take away.</p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms"
                        style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <i class="fas fa-tools icon-size"></i>
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Fitting all type wooden</h5>
                            <p>Your home should be a story of who you are, and be a collection of what you love.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="bg-overlay bg-second ">
                    <img src="images/services.svg" class="service-img border-start rounded-3" alt="">

                </div>
            </div>
        </div>
    </div>

</section>